<!DOCTYPE html>
<html>
<head>
  <title>RailsReactRelayTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <div id="react-view-target"></div>

  <script>
    var controller_name = '<%= controller_name %>';
    var action_name = '<%= action_name %>';
    var json_view_model = <%= raw @json_view_model.to_json %>;

    window.onload = function(){
      App.renderView(controller_name, action_name, json_view_model, document.getElementById("react-view-target"));
    };
  </script>

</body>
</html>
